[submodule "externals/Scenic"]
	path = externals/Scenic
	url = ../Scenic.git
[submodule "externals/VerifAI"]
	path = externals/VerifAI
	url = ../VerifAI.git
[submodule "externals/PythonApi"]
	path = externals/PythonApi
	url = ../../PythonApi.git
[submodule "externals/dreamview-cyber"]
	path = externals/dreamview-cyber
	url = ../../../shalin.mehta/dreamview-cyber.git
