[submodule "externals/Scenic"]
	path = externals/Scenic
	url = ../Scenic.git
[submodule "externals/VerifAI"]
	path = externals/VerifAI
	url = ../VerifAI.git
[submodule "externals/PythonApi"]
	path = externals/PythonApi
	url = ../../PythonApi.git
[submodule "externals/dreamview"]
	path = externals/dreamview
	url = ../../../HDRP/dreamview.git
[submodule "scenarios"]
	path = scenarios
	url = ../scenarios.git
